.container {
  text-align: center;
}

li {
  list-style: none;
}

.form-group {
  max-width: 250px;
  margin:auto
}

.well {
  text-align: inherit;
}

.game {
  display: none;
}

h3 {
  text-decoration: underline;
}

#player1score {
  font-size: 50px;
}

#player2score {
  font-size: 50px;
}
